In [ ]:
from google.colab import files


uploaded = files.upload()

Saving dredger.csv to dredger.csv

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv("dredger.csv")

In [ ]:
df

,sno,type of land,type of dredger,fuel_consumed(lt/hr),total_power(kW),volume(m3/hr),total working hours,Required Pump Power,Required Cutter Power
0,1,0,1,31,134,700,800,107.0,28.0
1,2,1,2,40,171,600,600,147.0,24.0
2,3,2,2,41,176,800,900,145.0,32.0
3,4,3,0,34,147,900,560,112.0,36.0
4,5,1,2,42,179,1000,346,140.0,40.0
...,...,...,...,...,...,...,...,...,...
59,60,2,0,356,1524,6600,657,1315.0,266.0
60,61,3,1,369,1580,6700,456,1368.0,270.0
61,62,2,1,382,1638,6800,768,1424.0,274.0
62,63,1,2,396,1697,6900,678,1480.0,278.0
63,64,0,2,410,1758,7000,576,NaN,NaN

In [ ]:
df.shape

(64, 9)

In [ ]:
df.describe()

,sno,type of land,type of dredger,fuel_consumed(lt/hr),total_power(kW),volume(m3/hr),total working hours,Required Pump Power,Required Cutter Power
count,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,64.000000,63.000000,63.000000
mean,32.500000,1.468750,1.031250,158.578125,678.578125,3810.937500,706.171875,531.015873,151.095238
std,18.618987,1.112251,0.815889,105.550229,452.736786,1903.640388,145.246977,384.245532,76.177152
min,1.000000,0.000000,0.000000,31.000000,134.000000,600.000000,346.000000,107.000000,24.000000
25%,16.750000,0.750000,0.000000,77.500000,331.500000,2175.000000,600.000000,243.500000,85.000000
50%,32.500000,1.000000,1.000000,118.000000,504.000000,3850.000000,690.000000,361.000000,155.000000
75%,48.250000,2.000000,2.000000,227.250000,971.750000,5425.000000,785.250000,765.500000,216.000000
max,64.000000,3.000000,2.000000,410.000000,1758.000000,7000.000000,987.000000,1480.000000,278.000000

In [ ]:
corr = df.corr()
corr.style.background_gradient(cmap='coolwarm')

In [ ]:
X = df.iloc[:,[1,2,5,6]]
Y = df.iloc[:,[3,4]]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:

standardized_data = scaler.transform(X)

In [ ]:
print(standardized_data)

[[-1.33095886 -0.03860457 -1.64712321  0.65109693]
 [-0.4247741   1.19674173 -1.70006941 -0.73675331]
 [ 0.48141065  1.19674173 -1.59417701  1.34502205]
 [ 1.38759541 -1.27395087 -1.54123081 -1.01432336]
 [-0.4247741   1.19674173 -1.48828461 -2.49932312]
 [ 0.48141065 -0.03860457 -1.43533841  0.57476517]
 [ 1.38759541 -0.03860457 -1.38239221 -0.9657486 ]
 [-1.33095886 -1.27395087 -1.32944601 -0.21630947]
 [ 0.48141065 -0.03860457 -1.27649981  1.94873691]
 [ 1.38759541  1.19674173 -1.22355361 -0.34121599]
 [-1.33095886 -1.27395087 -1.17060741 -2.12460356]
 [-0.4247741   1.19674173 -1.11766121 -1.43067844]
 [ 1.38759541 -0.03860457 -1.06471501 -0.73675331]
 [ 0.48141065 -1.27395087 -1.01176881 -0.19549172]
 [-1.33095886 -0.03860457 -0.9588226  -0.36203375]
 [-0.4247741  -1.27395087 -0.9058764   0.54700816]
 [ 0.48141065  1.19674173 -0.8529302   0.65109693]
 [-1.33095886 -1.27395087 -0.799984   -0.25100573]
 [-0.4247741  -0.03860457 -0.7470378   1.90016215]
 [ 1.38759541  1.19674173 -0.6940916  -0.9518701 ]
 [ 0.48141065 -0.03860457 -0.6411454  -1.59722046]
 [-1.33095886 -1.27395087 -0.5881992  -2.49238387]
 [-0.4247741   1.19674173 -0.535253    1.13684452]
 [ 1.38759541  1.19674173 -0.4823068  -0.9657486 ]
 [ 0.48141065 -0.03860457 -0.4293606   0.40822314]
 [-1.33095886 -1.27395087 -0.3234682  -0.19549172]
 [-0.4247741   1.19674173 -0.27052199 -0.1122207 ]
 [ 1.38759541 -0.03860457 -0.21757579 -0.18161322]
 [-0.4247741  -1.27395087 -0.16462959  0.51231191]
 [-1.33095886  1.19674173 -0.11168339  0.37352688]
 [ 0.48141065 -1.27395087 -0.05873719  0.30413437]
 [ 1.38759541 -0.03860457 -0.00579099  0.51231191]
 [-1.33095886 -0.03860457  0.04715521  0.37352688]
 [ 0.48141065  1.19674173  0.10010141 -0.19549172]
 [ 1.38759541 -1.27395087  0.15304761 -0.1122207 ]
 [ 0.48141065 -0.03860457  0.20599381  0.57476517]
 [ 0.48141065  1.19674173  0.25894001  0.51231191]
 [-0.4247741  -1.27395087  0.31188621  0.37352688]
 [-1.33095886 -0.03860457  0.36483241 -0.19549172]
 [ 1.38759541  1.19674173  0.41777862 -0.1122207 ]
 [-0.4247741   1.19674173  0.47072482  0.51231191]
 [-1.33095886 -1.27395087  0.52367102 -0.1122207 ]
 [-0.4247741  -0.03860457  0.57661722  0.57476517]
 [ 1.38759541  1.19674173  0.62956342  0.30413437]
 [ 0.48141065 -1.27395087  0.68250962  0.42904089]
 [ 1.38759541 -0.03860457  0.73545582  0.55394741]
 [-0.4247741  -1.27395087  0.78840202 -0.11915995]
 [ 1.38759541 -0.03860457  0.84134822  1.17848002]
 [ 0.48141065  1.19674173  0.89429442  1.94873691]
 [-1.33095886 -1.27395087  0.94724062  1.067452  ]
 [-0.4247741   1.19674173  1.00018682  0.40822314]
 [-1.33095886 -0.03860457  1.05313302  1.17848002]
 [-0.4247741  -1.27395087  1.10607923  1.87240515]
 [ 0.48141065 -1.27395087  1.15902543  1.86546589]
 [-0.4247741  -0.03860457  1.21197163 -0.95880935]
 [-1.33095886 -0.03860457  1.26491783 -0.87553834]
 [ 1.38759541  1.19674173  1.31786403 -0.80614583]
 [-0.4247741   1.19674173  1.37081023 -0.73675331]
 [-1.33095886 -1.27395087  1.42375643 -0.25100573]
 [ 0.48141065 -1.27395087  1.47670263 -0.34121599]
 [ 1.38759541 -0.03860457  1.52964883 -1.73600549]
 [ 0.48141065 -0.03860457  1.58259503  0.42904089]
 [-0.4247741   1.19674173  1.63554123 -0.19549172]
 [-1.33095886  1.19674173  1.68848743 -0.90329534]]

In [ ]:
X = standardized_data
Y = df['fuel_consumed(lt/hr)']

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, random_state=2)

In [ ]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
model.fit(X_train,Y_train)

LinearRegression()

In [ ]:
y_pred=model.predict(X_test)
y_pred

array([[ 1.85467942e+02,  7.93909337e+02],
       [-1.05579090e+01, -4.57717704e+01],
       [ 2.62668682e+02,  1.12616413e+03],
       [ 3.04436957e+02,  1.30358978e+03],
       [ 1.22257827e+02,  5.20859240e+02],
       [ 2.49030491e+02,  1.06790122e+03],
       [ 1.73892968e+02,  7.44006135e+02],
       [ 1.32929330e+02,  5.68837993e+02],
       [ 2.52891668e+02,  1.08352520e+03],
       [ 1.62734174e+02,  6.97892999e+02],
       [ 5.21072302e-01,  3.47843825e-01],
       [ 1.43908691e+02,  6.14907332e+02],
       [ 2.34609451e+02,  1.00493680e+03]])

In [ ]:
from sklearn.metrics import r2_score
Accuracy=r2_score(Y_test,y_pred)*100
print(" Accuracy of the model is %.2f" %Accuracy)

 Accuracy of the model is 87.16

In [ ]:
input_data=(3,1,6600,657)
# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
#std_data = scaler.transform(input_data_reshaped)
#print(std_data)

prediction = model.predict(input_data_reshaped)
print(prediction)

[[ 308.5821342  1320.69039543]]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
import pickle

In [ ]:
filename = 'dredger_calculator.sav'
pickle.dump(model, open(filename, 'wb'))

In [ ]:
loaded_model = pickle.load(open('dredger_calculator.sav', 'rb'))